<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"  />
        <link rel="stylesheet" type="text/css"  href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Saisie d'un produit</div>
                <div class="panel-body">
                    <form th:action="@{/save}" method="POST">
                        <div class="form-group">
                            <label class="control-label">ID:</label>
                            <input type="text" name="id" th:value="${produit.id}" class="form-control"/>
                            <span th:errors="${produit.id}" class="red"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Désignation:</label>
                            <input type="text" name="designation" th:value="${produit.designation}" class="form-control"/>
                            <span th:errors="${produit.designation}" class="red"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Prix:</label>
                            <input type="text" name="prix" th:value="${produit.prix}" class="form-control"/>
                            <span th:errors="${produit.prix}" class="red"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Quantité</label>
                            <input type="text" name="quantite" th:value="${produit.quantite}" class="form-control"/>
                            <span th:errors="${produit.quantite}" class="red"></span>
                        </div>
                        <button type ="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
